Makefile
Makefile.in
.deps
*.rc
websockets-doom.*
!websockets-doom.html
!websockets-doom.js
!websockets-doom.wasm
arena_game_state.local.tsv
arena_duel_events.local.tsv
arena_player_command.local.tsv
arena_participant_commands.local.tsv
arena_participant_intents.local.tsv
arena_participant_ready.local.tsv
arena_enemy_commands.local.tsv
arena_run_metadata.local.tsv
arena_controller_tokens.local.json
arena_mcp_stdio.log
*.log
*.cfg
!default.cfg
*.exe
*.desktop
*.txt
!CMakeLists.txt
*.metainfo.xml
tags
TAGS
